%h1 Listing lessons

%table
  %thead
    %tr
      %th Room
      %th Teacher
      %th Group num
      %th Lesson name
      %th Start at
      %th End at
      %th
      %th
      %th

  %tbody
    - @lectures.each do |lecture|
      %tr
        .table-striped
          %td= lecture.room
          %td= lecture.teacher
          %td= lecture.group_num
          %td= lecture.subject
          %td= lecture.starts_at
          %td= lecture.ends_at
          %td= link_to 'Show', lecture
          %td= link_to 'Edit', edit_lecture_path(lecture)
          %td= link_to 'Destroy', lecture, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_lecture_path
= button_to('Log Out', destroy_user_session_path, class:'btn btn-danger', :method => :delete)